{
	"auto_complete":
	{
		"selected_items":
		[
			[
				"margin",
				"margin-top"
			],
			[
				"li",
				"lightgray"
			],
			[
				"fo",
				"font-size"
			],
			[
				"bor",
				"border-radius"
			],
			[
				"s",
				"sans-serif"
			],
			[
				"wi",
				"width"
			],
			[
				"flex",
				"flex-direction"
			],
			[
				"di",
				"div"
			],
			[
				"d",
				"div"
			]
		]
	},
	"buffers":
	[
	],
	"build_system": "",
	"build_system_choices":
	[
	],
	"build_varint": "",
	"command_palette":
	{
		"height": 0.0,
		"last_filter": "",
		"selected_items":
		[
		],
		"width": 0.0
	},
	"console":
	{
		"height": 0.0,
		"history":
		[
		]
	},
	"distraction_free":
	{
		"menu_visible": true,
		"show_minimap": false,
		"show_open_files": false,
		"show_tabs": false,
		"side_bar_visible": false,
		"status_bar_visible": false
	},
	"file_history":
	[
		"/C/Users/09/AppData/Local/Temp/Rar$DRa29992.2148/treinaweb-php-oo-parte1-master/namespace/conflito.php",
		"/C/Users/09/AppData/Local/Temp/Rar$DRa29992.2148/treinaweb-php-oo-parte1-master/src/Email/Envio.php",
		"/C/Users/09/AppData/Local/Temp/Rar$DRa29992.2148/treinaweb-php-oo-parte1-master/src/Email/Transporte.php",
		"/C/Users/09/Desktop/index.html",
		"/C/Users/09/Desktop/style.css",
		"/?Servidor1-pc/aulas cni/BRENNO/SABADO 14;30 AS 16;00/caroline/facebook/style.css",
		"/?Servidor1-pc/aulas cni/BRENNO/SABADO 14;30 AS 16;00/caroline/facebook/index.html",
		"/?Servidor1-pc/aulas cni/BRENNO/SABADO 14;30 AS 16;00/sara/Facebook/index.html"
	],
	"find":
	{
		"height": 0.0
	},
	"find_in_files":
	{
		"height": 101.0,
		"where_history":
		[
		]
	},
	"find_state":
	{
		"case_sensitive": false,
		"find_history":
		[
		],
		"highlight": true,
		"in_selection": false,
		"preserve_case": false,
		"regex": false,
		"replace_history":
		[
		],
		"reverse": false,
		"scrollbar_highlights": true,
		"show_context": true,
		"use_buffer2": true,
		"use_gitignore": true,
		"whole_word": false,
		"wrap": true
	},
	"groups":
	[
		{
			"sheets":
			[
			]
		}
	],
	"incremental_find":
	{
		"height": 0.0
	},
	"input":
	{
		"height": 0.0
	},
	"layout":
	{
		"cells":
		[
			[
				0,
				0,
				1,
				1
			]
		],
		"cols":
		[
			0.0,
			1.0
		],
		"rows":
		[
			0.0,
			1.0
		]
	},
	"menu_visible": true,
	"output.find_results":
	{
		"height": 0.0
	},
	"pinned_build_system": "",
	"project": "index.sublime-project",
	"replace":
	{
		"height": 0.0
	},
	"save_all_on_build": true,
	"select_file":
	{
		"height": 0.0,
		"last_filter": "",
		"selected_items":
		[
		],
		"width": 0.0
	},
	"select_project":
	{
		"height": 0.0,
		"last_filter": "",
		"selected_items":
		[
		],
		"width": 0.0
	},
	"select_symbol":
	{
		"height": 0.0,
		"last_filter": "",
		"selected_items":
		[
		],
		"width": 0.0
	},
	"selected_group": 0,
	"settings":
	{
	},
	"show_minimap": true,
	"show_open_files": false,
	"show_tabs": true,
	"side_bar_visible": false,
	"side_bar_width": 259.0,
	"status_bar_visible": true,
	"template_settings":
	{
	}
}
