*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    border: 1px solid rgb(255, 0, 0);
    border-radius: 8px;
    width: 50%;
}

main header{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



main section div.places input{
    width: 200px;
    height: 32px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

main section div.places:nth-child(1){
    margin-top: 60px;
    margin-bottom: 40px;
}

main section div.places:nth-child(2){
    margin-bottom: 60px;
}

main footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main footer button{
    width: 150px;
    height: 28px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 2px;
    margin-bottom: 70px;
}

main footer button:nth-child(1){
    background: green;
}

main footer button:nth-child(2){
    background: red;
}

