*, ::before, ::after{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(17, 0, 255));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Tamanho dos campos esquerdo e direito */
#title-place, #form-place{
    width: 50%;
}

/* Formatação do campo esquerdo */
#title-place{
    text-align: center;
}

#title{
    font-size: 84px;
}

#subtitle{
    font-size: 28px;
}

/* --------------------------------------------------- */

/* Formatação do campo direito */
#form-place{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form-place form{
    width: 478px;
    height: 346px;
    box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2), 20px 20px 20px 0 rgba(0, 0, 0, 0.2);
    outline-offset: 12px;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 0, 255);
}

#form__header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form__title{
    font-size: 42px;
}

#form__section{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form__divs{
    width: 98%;
}

fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

fieldset .form__div{
    width: 50%;
}

fieldset .form__div:nth-child(2){
    margin-left: 4px;
}

.form__div{
    position: relative;
    width: 100%;
    height: 32px;
    margin-bottom: 1.5rem;
}

.form__input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid #fff;
    border-radius: .5rem;
    padding: 1rem;
    background: none;
    outline: none;
    z-index: 1;
    box-shadow: 0px 5px 15px rgba(0, 0,0, 0.2);
    color: #fff;
}

.form__label{
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 0 .25rem;
    color: #fff;
    background-color: rgb(17, 0, 255);
    font-size: 1rem;
    transition: .3s;
}

.form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    font-size: 15px;
    font-weight: 500;
    z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label{
    top: -.5rem;
    left: .8rem;
    font-size: 15px;
    font-weight: 500;
    z-index: 10;
}

.form__input:focus{
    border: 1.5px solid #fff;
}

#form__footer{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form__button{
    width: 100px;
    height: 30px;
    margin: 4px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0,0, 0.2);
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
}

.form__button[type="submit"]{
    background-color: green;
}

.form__button[type="reset"]{
    background-color: rgb(255, 8, 8);
}

.form__button[type="submit"]:hover{
    box-shadow: 2px 2px 2px rgba(0, 0,0, 0.2);
    background-color: rgb(0, 116, 0);
}

.form__button[type="reset"]:hover{
    box-shadow: 2px 2px 2px rgba(0, 0,0, 0.2);
    background-color: rgb(228, 1, 1);
}

@media only screen and (max-width: 990px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #title-place{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        width: 70%;
    }

    #form-place{
        width: 70%;
    }
}